streamlit
nltk
pandas
matplotlib
brotli
certifi
cffi
charset-normalizer
colorama
conda
conda-libmamba-solver
conda-package-handling
conda-package-streaming
distro
frozendict
h2
hpack
hyperframe
idna
jsonpatch
jsonpointer
libmambapy
menuinst
packaging
platformdirs
pluggy
pycosat
pycparser
PySocks
requests
ruamel.yaml
ruamel.yaml.clib
setuptools==80.1.0
tqdm
truststore
urllib3
wheel==0.45.1
zstandard==0.23.0
